<<<<<<< HEAD
.bounding-box{
position: absolute;
box-shadow: 0 0 0 3px #149df2 inset;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
justify-content: center;
cursor: pointer;
=======
.bounding-box{
position: absolute;
box-shadow: 0 0 0 3px #149df2 inset;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
justify-content: center;
cursor: pointer;
>>>>>>> 8379e86a2883ca805001a2ebca1866d5242622f8
}